# === Claude API ===
ANTHROPIC_API_KEY=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

# === Instagram Graph API ===
INSTAGRAM_ACCESS_TOKEN=IGAAXFsN2LAeNBZAGJMX2U0Q0tYRkxzYzRwbUdxb3Rsak1fQWFSOG0xZAWRpUUxyak9TS0luRy1sZAEUwRGJ5NllubnpwVTYteEpjazRJUEJrMFlkRFI3cXM1ZAlZArTEJPQVlSbkVyWldoQW50ZAWQzOXlsN3V4QWJwWEszUE1rdG5hdwZDZD
INSTAGRAM_USER_ID=17841475590829526

# === imgbb (hospedagem de imagens gratuita) ===
IMGBB_API_KEY=2f4bb61c1d5b47fc791545c189b4b49f
